[Desktop Entry]
Version=1.0
Type=Application
Name=todo
GenericName=todo
Comment=todo
Exec=/xcore/time/x64/basis/app : app=app-core/todo build_number=basis locale=_std schema=_std
Icon=/xcore/app-core/appmatter/todo/_std/_std/main/icon-256.png
Terminal=false
X-MultipleArgs=false
Categories=Utilities;
StartupNotify=true
MimeType=
